.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.all{
  background: linear-gradient(180deg,#f082f8, #e1ffea22 80%);
}
.hero {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    /* background-color: #f7f7f7; */
    height: 100vh;
    
  }
  
  .hero-left {
    flex: 1;
    padding-right: 1%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    line-height: 1.1;
  }
  
  .hero-left h2 {
    font-size: 8vh;
    margin-bottom: 2%;
    color: #ffffff;
    font-weight: 600;
    font-family: "Madimi One", sans-serif;
  }
  .left_para{
     width: 95%;
     font-size: 2.6vh;
  }
  .left_para 
  .hero-left div {
    display: flex;
    align-items: center;
  }
  
  .explore{
   margin-left: 30%;
   padding:2% 12% ;
   font-weight: bold;
color:#ee00ff ;
   border: 1px solid #ee00ff;
   background-color: #f7cbfa;
   
  }
  
  .explore:hover {
    color: white;
    background-color: #ee00ff;
    border: 1px solid transparent;
    transition: 1s all ease-out;
  }

  .hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-right img {
    width: 50%;
    height: auto;
  } 
  .populer-item{
    justify-content: center;
  }
  .populartext
  {
    font-size: 10vh;
    text-align: center;
  }

  .card{
    display: flex;
    flex-wrap: nowrap;
  }
  .item
  {
    width:30%;
    height: 6%;
  }
  .item-img img{
    width: 50%;
    width: 50%;
  }
  